@model Student_Management_System.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2  style="background-color: aliceblue; position: center; color: brown">Details</h2>

<div>
    <h4  style="background-color: aliceblue; position: center; color: brown">Course</h4>
    <hr />
    <dl class="dl-horizontal"  style="background-color:aliceblue; position:center;color:brown">
        <dt>
            @Html.DisplayNameFor(model => model.course1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id },new { style = "background-color:aliceblue; position:center;color:green" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
