@model Student_Management_System.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h2 style="background-color: aliceblue; position: center; color: brown">Details</h2>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal" style="background-color:aliceblue; position:center;color:brown">
        <dt>
            @Html.DisplayNameFor(model => model.batch1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
